<div class="header clearfix">
    <nav>
        <ul class="nav nav-pills float-right">
            <li class="nav-item" style="padding-right: 120px; padding-top: 10px">
                <b>Tracking email:</b> <p><%= user.trackingEmail %></p>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/logout">Logout</a>
            </li>
        </ul>
    </nav>
    <h3 class="text-muted"><a href="/profile">SafeTr</a></h3>
</div>
