<% include partials/head %>

  <body>
    <div class="col-sm-6 offset-3">
      <div class="jumbotron text-center">
        <h1>SafeTr</h1>
        <p>Creating the world a better place</p>

        <br/>

        Please log in to use this app:
        <br />
        <a href="/auth/facebook" class="btn btn-primary"><span class="fa fa-facebook"></span> Facebook</a>
      </div>
    </div>
  </body>
</html>
